<header class="row">
  <div class="col-sm-4 col-4 py-3">
    <span class="d-block"></span>
  </div>
  <div class="col-sm-4 col-4 text-center py-3">
    <h5>Geo Management</h5>
  </div>
  <div class="col-sm-4 col-4" *ngIf="isAuth">
    <nav>
      <ul class="float-right mb-0 px-0">
        <li class="profile px-3 py-3">
          <span class="text-right mr-3">
            <h6 class="mb-0">Srikant Panigrahy</h6>
            <p class="mb-0">Manager</p>
          </span>
          <span class="profile-img d-block"></span>
        </li>
        <li class="admin pl-3 py-3">
          <a href="#" class="logout d-block"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div class="row tile-section" *ngIf="isAuth">
  <div class="col-sm-12" #container>
    <h4 style="cursor: pointer;" [ngClass]="{'in-active-menu': !activeMenu}" class="mb-0 tooltip-bottom" (click)="navigateMenu('gh')">
      <span class="notes-icon d-block float-left"></span>Geo Hierchy</h4>

    <h4 style="cursor: pointer;" [ngClass]="{'in-active-menu': activeMenu}" class="mb-0 tooltip-bottom" (click)="navigateMenu('sm')">
      <span class="notes-icon d-block float-left"></span>School Master</h4>


    <h4 style="cursor: pointer;" [ngClass]="{'in-active-menu': activeMenu}" class="mb-0 tooltip-bottom" (click)="navigateMenu('um')">
      <span class="notes-icon d-block float-left"></span>User Master</h4>
  </div>
</div>
<!-- <div class="row tile-subsection">
  <div class="col-sm-12">
    <h5 class="mb-0 float-left">Transactional LMI
      <span class="info-icon d-block float-right"></span>
    </h5>
  </div>
</div> -->