<header class="row">
  <div class="col-sm-4 py-3">
    <span class="d-block"></span>
  </div>
  <div class="col-sm-4 col-4 text-center py-3">
    <h5 style="font: italic;">
      <span style="font: italic;">En-gage Connect</span>
    </h5>
  </div>
  <div class="col-sm-4 col-4" *ngIf="menuConfig.showProfile">
    <nav>
      <ul class="float-right mb-0 px-0">
        <li class="profile px-3 py-3">
          <span class="text-right mr-3">
            <h6 class="mb-0">{{userModel.firstName}} {{userModel.lastName}}</h6>
            <p class="mb-0">{{userModel.roleName}}</p>
          </span>
          <span class="profile-img d-block"></span>
        </li>
        <li class="admin pl-3 py-3">
          <a href="javascript:void(0);" class="logout d-block" (click)="logout()"></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<!-- Menu Start -->
<div class="row tile-section" *ngIf="menuConfig.showMenu">
  <ul class="nav nav-tabs col-sm-12 menutest">
    <li [ngClass]="{abc: true , dropdown: menu.isSubMenu}" *ngFor="let menu of menuConfig.menuItems">
      <ng-template *ngIf="menu.isSubMenu then link1; else link2">
      </ng-template>
      <ng-template #link1>
        <a [routerLink]="menu.menuLink" [ngClass]="{outerlinkcolor: true , 'dropdown-toggle': menu.isSubMenu}" data-toggle="dropdown">
          {{menu.menuName}}
          <span class="caret"></span>
        </a>
      </ng-template>
      <ng-template #link2>
        <a href="javascript:void(0);" class="outerlinkcolor"> {{menu.menuName}}</a>
      </ng-template>
      <ul class="dropdown-menu ulb" *ngIf="menu.isSubMenu">
        <li class="nav-item" *ngFor="let subMenu of menu.subMenus">
          <a href="#" [routerLink]="subMenu.subMenuLink" class="innerlinkcolor">
            {{subMenu.subMenuName}}
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <!-- Menu End -->
</div>