<!-- <app-layout #layout [dynamicHeader]='componentData'> </app-layout> -->

<section class="row">
    <div class="main-content">

        <div class="heading-sec py-4 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="mb-0 mr-3 d-inline">
                        <span class="left-arrow-icon d-block float-left mr-2" style="cursor:pointer;"></span>Reset Password</h5>
                </div>
            </div>
        </div>
        <br>

        <div class="col-sm-12 py-4 form-container">

            <div class="row" *ngIf="isFirstLogin">
                <div class="col-sm-12">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_OldPwd" class="inputMaterial" type="password" [(ngModel)]='oldPassword' maxlength="50" ng-trim="true" required>
                            <label for="txt_OldPwd">Old Password
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_NewPwd" class="inputMaterial" type="password" [(ngModel)]='userPassword' maxlength="50" minlength="6" ng-trim="true"
                                required>
                            <label for="txt_NewPwd">New Password
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_confirmNewPwd" class="inputMaterial" type="password" [(ngModel)]='conPassword' maxlength="50" minlength="6"
                                ng-trim="true" required>
                            <label for="txt_confirmNewPwd">Confirm New Password
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <hr class="my-4">
                    <button type="button" class="btn secondary-btn mr-4" (click)="Cancel()">Cancel</button>
                    <button type="submit" class="btn primary-btn" (click)="ResetPassword()">Save</button>
                </div>
            </div>

        </div>
    </div>
</section>
<ng-template #modal></ng-template>