<section class="row product-landing">
    <p-growl [(value)]="success" *ngIf=display life=3000></p-growl>
    <div class="main-content">
        <div class="product-segments">
            <div class="row">
                <div class="col-sm-6 sec-header">
                    <h5>Geo Heirarchy Map List</h5>
                    <span *ngIf="data">
                        (
                        <span>10</span> )
                    </span>
                </div>
                <div class="col-sm-6 text-right archive">
                    <span *ngIf="data">
                        <span class="clock"></span>
                        <a href="javascript:void(0);">View Archive</a>
                    </span>
                    <!-- <a href="#" class="view-archive-btn position-relative">View Archive</a> -->
                    <button type="button" class="btn view-btn" (click)="addGeoMapping()">Add GeoHeirarchy Mapping</button>
                </div>
            </div>
            <div class="row card-block">
                <div class="col-sm-12 card-wrap" *ngIf="geoMapList.length === 0">
                    <div class="card text-center">
                        <div class="no-data-text">
                            <p>There are no Geo Mapping available.</p>
                            <p>Please add new Geo Heirarchy</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12" *ngIf="activeRoute.snapshot.data.geoMapp.length > 8">
                    <app-pagination [total]="activeRoute.snapshot.data.geoMapp.length" (pageUpdate)="updatePage($event)"></app-pagination>
                </div>
                <div class="col-sm-12" *ngIf="geoMapList.length > 0">
                    <div class="row card-block">
                        <div class="col-lg-3 col-md-4 col-sm-6 card-wrap" *ngFor="let g of geoMapList; let i= index;">
                            <div class="card">
                                <div class="card-head">
                                    <span class="card-label">{{g.marketingUser}}</span>
                                    <span class="edit" (click)="editGeoMapping(g)"></span>
                                </div>
                                <div class="card-content">
                                    <p class="label-text">
                                        <span>Country</span>
                                        <span style="float: right !important; font:bold !important;">{{g.country}}</span>
                                    </p>
                                    <p class="label-text">
                                        <span>Zone</span>
                                        <span style="float: right !important;">{{g.zone}}</span>
                                    </p>
                                    <p class="label-text">
                                        <span>Branch</span>
                                        <span style="float: right !important;">{{g.branch}}</span>
                                    </p>
                                    <p class="label-text">
                                        <span>State</span>
                                        <span style="float: right !important;">{{g.state}}</span>
                                    </p>
                                    <p class="label-text">
                                        <span>Supervisor</span>
                                        <span style="float: right !important;">{{g.supervisor}}</span>
                                    </p>
                                    <!-- <p class="date">{{g.country}}</p> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>