<section class="row">
    <div class="main-content">
        <div class="heading-sec py-4 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="mb-0 mr-3 d-inline">
                        <span class="left-arrow-icon d-block float-left mr-2" style="cursor:pointer;" (click)="onCancelReset()"></span>{{segmentLabelText}}</h5>
                </div>
                <div class="col-sm-6 text-right" hidden="!editMode">
                    <label>Last Updated Date :</label>
                    <span class="date-lbl">11/11/2017</span>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-12 py-4 form-container">
            <div class="row">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="group">
                            <span class="ui-float-label">
                                <input id="txt_userName" class="inputMaterial" type="text" [(ngModel)]='userModel.userName' maxlength="50" ng-trim="true"
                                    required>
                                <label for="txt_userName">UserName</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="group">
                            <span class="ui-float-label">
                                <input id="txt_emailId" class="inputMaterial" type="email" [(ngModel)]='userModel.emailId' maxlength="100" ng-trim="true"
                                    required>
                                <label for="txt_emailId">Email Id</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="group">
                            <span class="ui-float-label">
                                <input id="txt_firstName" class="inputMaterial" type="text" [(ngModel)]='userModel.firstName' maxlength="50" ng-trim="true"
                                    required>
                                <label for="txt_firstName">First Name</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="group">
                            <span class="ui-float-label">
                                <input id="txt_lastName" class="inputMaterial" type="text" [(ngModel)]='userModel.lastName' maxlength="50" ng-trim="true"
                                    required>
                                <label for="txt_lastName">Last Name</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">
                        <div class="group">
                            <span class="ui-float-label">
                                <input id="txt_emailId" class="inputMaterial" type="email" [(ngModel)]='userModel.emailId' maxlength="100" ng-trim="true"
                                    required>
                                <label for="txt_emailId">Email Id</label>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_role" class='inputMaterial' required [(ngModel)]='geoMapping.roleId'>
                                <option class='option' *ngFor='let option of masters.RoleMaster' [value]="option.roleId">{{option.roleName}}</option>
                            </select>
                            <label for="dd_zone">Zone</label>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 text-right">
                        <hr class="my-4">
                        <button type="button" class="btn secondary-btn mr-4" (click)="onCancelReset()">Cancel</button>
                        <button type="submit" class="btn primary-btn" (click)="saveData()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div #modal></div> -->
<!-- <p-confirmDialog header="Confirm" icon="fa fa-question-circle" width="600" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="yes" (click)="cd.accept()" class="mr-4"></button>
        <button type="button" pButton icon="fa-check" label="no" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog> -->