<section class="row">
    <div class="main-content">
        <div class="heading-sec py-4 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="mb-0 mr-3 d-inline">
                        <span class="left-arrow-icon d-block float-left mr-2" style="cursor:pointer;" (click)="onCancelReset()"></span>User Master</h5>
                </div>
                <div class="col-sm-6 text-right" hidden="!editMode">
                    <label>Last Updated Date :</label>
                    <span class="date-lbl">11/11/2017</span>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-12 py-4 form-container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_userName" class="inputMaterial" type="text" [(ngModel)]='userModel.userName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_userName">UserName</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_emailId" class="inputMaterial" type="email" [(ngModel)]='userModel.emailId' maxlength="100" ng-trim="true"
                                required>
                            <label for="txt_emailId">Email Id</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_password" class="inputMaterial" type="password" [(ngModel)]='userModel.userPassword' maxlength="100" ng-trim="true"
                                required>
                            <label for="txt_password">Password</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_firstName" class="inputMaterial" type="text" [(ngModel)]='userModel.firstName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_firstName">First Name</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_lastName" class="inputMaterial" type="text" [(ngModel)]='userModel.lastName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_lastName">Last Name</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-4" hidden='true'>
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_country" class='inputMaterial' required [(ngModel)]='userModel.countryId'>
                                <option class='option' *ngFor='let option of masters.countryMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_country">Country</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_state" class='inputMaterial' required [(ngModel)]='userModel.stateId' (ngModelChange)="onOptionsSelected($event)">
                                <option class='option' *ngFor='let option of masters.stateMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_state">State</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4" hidden="true">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_city" class='inputMaterial' required [(ngModel)]='userModel.cityId'>
                                <option class='option' *ngFor='let option of masters.cityNewMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_city">City</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_role" class='inputMaterial' required [(ngModel)]='userModel.roleId'>
                                <option class='option' *ngFor='let option of masters.roleMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_role">Role</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="group">
                        <span>
                            <input id="ckb_status" class="inputMaterial" type="checkbox" [(ngModel)]='userModel.status'>
                            <label for="ckb_status">Active</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <hr class="my-4">
                    <button type="button" class="btn secondary-btn mr-4" (click)="onCancelReset()">Cancel</button>
                    <button type="submit" class="btn primary-btn" (click)="saveData()">Save</button>
                </div>
            </div>
        </div>
        <div class="Content" style="padding-left: 15px;">
            <p-table [value]="userLst">
                <ng-template pTemplate="header">
                    <tr>
                        <th>User name</th>
                        <th>first Name</th>
                        <th>last Name</th>
                        <th>Active</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.userName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.status}}</td>
                        <td>
                            <!-- <button type="button" (click)="doEdit(user)">Edit</button> -->
                            <i class="fa fa-edit" style="font-size:24px;cursor: pointer;" (click)="doEdit(user)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-sm-12" *ngIf="users.length > 8">
            <app-pagination [total]="users.length" (pageUpdate)="updatePage($event)"></app-pagination>
        </div>
    </div>

</section>
<ng-template #modal></ng-template>