<section class="row">
    <div class="main-content">
        <div class="heading-sec py-4 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="mb-0 mr-3 d-inline">
                        <span class="left-arrow-icon d-block float-left mr-2" style="cursor:pointer;" (click)="onCancelReset()"></span>User Master</h5>
                </div>
                <div class="col-sm-6 text-right" hidden="!editMode">
                    <label>Last Updated Date :</label>
                    <span class="date-lbl">11/11/2017</span>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-12 py-4 form-container">

            <div class="row">
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_userName" class="inputMaterial mandatory" type="text" [(ngModel)]='userModel.userName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_userName">UserName
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_emailId" class="inputMaterial mandatory" type="email" [(ngModel)]='userModel.emailId' maxlength="100" ng-trim="true"
                                required>
                            <label for="txt_emailId">Email Id
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_userPassword" class="inputMaterial mandatory" type="password" [(ngModel)]='userModel.userPassword' maxlength="50"
                                ng-trim="true" required>
                            <label for="txt_userPassword">Password
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_firstName" class="inputMaterial mandatory" type="text" [(ngModel)]='userModel.firstName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_firstName">First Name
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_lastName" class="inputMaterial" type="text" [(ngModel)]='userModel.lastName' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_lastName">Last Name</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <!-- <input id="txt_dob" class="inputMaterial" type="text" [(ngModel)]='userModel.dateOfBirth' maxlength="100" ng-trim="true"
                                    required> -->
                            <p-calendar [(ngModel)]="userModel.dateOfBirth" dataType="string" dateFormat="mm/dd/yy" [showIcon]="true" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="1970:2005" class="inputMaterial mandatory" required></p-calendar>
                            <label for="txt_dob">Date of Birth</label>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_role" class='inputMaterial mandatory' required [(ngModel)]='userModel.roleId' (ngModelChange)="onOptionsSelected($event, 'role')">
                                <option class='option' [value]="0">Select</option>
                                <option class='option' *ngFor='let option of masters.roleMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_role">Role
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6" *ngIf="isEdit? (userModel.roleId === 4 || userModel.roleId === 5 || userModel.roleId === 6 || userModel.roleId === 3 || userModel.roleId === 2) : showCountry">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_country" class='inputMaterial mandatory' required [(ngModel)]='userModel.countryId' (ngModelChange)="onOptionsSelected($event, 'country')">
                                <option class='option' [value]="0">Select</option>
                                <option class='option' *ngFor='let option of masters.countryMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_country">Country
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row" *ngIf="isEdit? (userModel.roleId === 5 || userModel.roleId === 6 || userModel.roleId === 3 || userModel.roleId === 2) : showZone">
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_zone" class='inputMaterial mandatory' required [(ngModel)]='userModel.zoneId' (ngModelChange)="onOptionsSelected($event, 'zone')">
                                <option class='option' [value]="0">Select</option>
                                <option class='option' *ngFor='let option of masters.zoneMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_zone">Zone
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="isEdit? (userModel.roleId === 6 || userModel.roleId === 3 || userModel.roleId === 2) : showBranch">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_branch" class='inputMaterial mandatory' required [(ngModel)]='userModel.branchId' required (ngModelChange)="onOptionsSelected($event, 'branch')">
                                <option class='option' [value]="0">Select</option>
                                <option class='option' *ngFor='let option of masters.branchMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_branch">Branch
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4" *ngIf="isEdit? (userModel.roleId === 3 || userModel.roleId === 2) : showState">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_state" class='inputMaterial mandatory' required [(ngModel)]='userModel.stateId' required>
                                <option class='option' [value]="0">Select</option>
                                <option class='option' *ngFor='let option of masters.stateMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_state">State
                                <span style="color: red; padding-left: 2px;">*</span>
                            </label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2">
                    <div class="group">
                        <span>
                            <input id="ckb_status" class="inputMaterial" type="checkbox" [(ngModel)]='userModel.isActive'>
                            <label for="ckb_status">Active</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <hr class="my-4">
                    <button type="button" class="btn secondary-btn mr-4" (click)="onCancelReset()">Cancel</button>
                    <button type="submit" class="btn primary-btn" (click)="saveData()">Save</button>
                </div>
            </div>

        </div>
        <div class="Content" style="padding-left: 15px;">
            <p-table [value]="userLst">
                <ng-template pTemplate="header">
                    <tr>
                        <th>User name</th>
                        <th>first Name</th>
                        <th>last Name</th>
                        <th>Status</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>{{user.userName}}</td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{user.isActive==true? 'Active':'InActive'}}</td>
                        <td>
                            <!-- <button type="button" (click)="doEdit(user)">Edit</button> -->
                            <i class="fa fa-edit" style="font-size:24px;cursor: pointer;" (click)="doEdit(user)"></i>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="col-sm-12" *ngIf="users.length > 8">
            <app-pagination [total]="users.length" (pageUpdate)="updatePage($event)"></app-pagination>
        </div>
    </div>

</section>
<ng-template #modal></ng-template>