<section class="row">
    <div class="main-content">
        <div class="heading-sec py-4 ">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="mb-0 mr-3 d-inline">
                        <span class="left-arrow-icon d-block float-left mr-2" style="cursor:pointer;"></span>Create School Master</h5>
                </div>
                <div class="col-sm-6 text-right" hidden="!editMode">
                    <label>Last Updated Date :</label>
                    <span class="date-lbl">11/11/2017</span>
                </div>
            </div>
        </div>
        <br>
        <div class="col-sm-12 py-4 form-container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_schoolType" class='inputMaterial' required [(ngModel)]='school.schoolType'>
                                <option class='option' *ngFor='let option of masterConst.SchoolType' [value]="option.name">{{option.name}}</option>
                            </select>
                            <label for="dd_schoolType">Type</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="group">
                        <span class="ui-float-label">
                            <span class="ui-float-label">
                                <input id="txt_schoolName" class="inputMaterial" type="text" [(ngModel)]='school.schoolName' maxlength="50" ng-trim="true"
                                    required>
                                <label for="txt_schoolName">School Name</label>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <span class="ui-float-label">
                                <input id="txt_schoolName" class="inputMaterial" type="text" [(ngModel)]='school.houseNumber' maxlength="50" ng-trim="true"
                                    required>
                                <label for="txt_schoolName">School House Number</label>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <span class="ui-float-label">
                                <input id="txt_schoolName" class="inputMaterial" type="text" [(ngModel)]='school.street' maxlength="50" ng-trim="true" required>
                                <label for="txt_schoolName">School House Street</label>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" *ngIf="false">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_city" class='inputMaterial' required [(ngModel)]='school.cityId'>
                                <option class='option' *ngFor='let option of masters.cityNewMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_city">City</label>
                        </span>
                    </div>
                </div>

                <div class="col-sm-4" *ngIf="false">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_country" class='inputMaterial' required [(ngModel)]='school.countryId'>
                                <option class='option' *ngFor='let option of masters.countryMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_country">Country</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <span class="ui-float-label">
                                <input id="txt_schoolName" class="inputMaterial" type="text" [(ngModel)]='school.area' maxlength="50" ng-trim="true" required>
                                <label for="txt_schoolName">School House Area</label>
                            </span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_state" class='inputMaterial' required [(ngModel)]='school.stateId'>
                                <option class='option' *ngFor='let option of masters.stateMaster' [value]="option.id">{{option.name}}</option>
                            </select>
                            <label for="dd_state">State</label>
                        </span>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_landmark" class="inputMaterial" type="text" [(ngModel)]='school.landMark' maxlength="50" ng-trim="true" required>
                            <label for="txt_landmark">Landmark</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_geolocation" class="inputMaterial" type="text" [(ngModel)]='school.geoCoordinate' maxlength="50" ng-trim="true"
                                required>
                            <label for="txt_geolocation">GeoLocation</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <span class="ui-float-label">
                                <input id="txt_schoolName" class="inputMaterial" type="text" [(ngModel)]='school.lga' maxlength="50" ng-trim="true" required>
                                <label for="txt_schoolName">LGA</label>
                            </span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_Pn" class="inputMaterial" type="text" [(ngModel)]='school.principalName' maxlength="50" ng-trim="true" required>
                            <label for="txt_Pn">Priciple Name</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_ppn" class="inputMaterial" type="text" [(ngModel)]='school.phoneNumber' OnlyNumber="true" maxlength="11" ng-trim="true"
                                required>
                            <label for="txt_ppn">Principle Phone Number</label>
                        </span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_spn" class="inputMaterial" type="text" [(ngModel)]='school.schoolPhoneNumber' OnlyNumber="true" maxlength="11"
                                ng-trim="true" required>
                            <label for="txt_spn">School Phone Number</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_tpl" class="inputMaterial" type="text" [(ngModel)]='school.totalPopulation' OnlyNumber="true" maxlength="50"
                                ng-trim="true" required>
                            <label for="txt_tpl">Total Population</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <select id="dd_teducation_level" class='inputMaterial' required [(ngModel)]='school.totalEducationlevel'>
                                <option class='option' *ngFor='let option of masterConst.TEducationLevel' [value]="option.name">{{option.name}}</option>
                            </select>
                            <label for="dd_teducation_level">Total Education Level</label>
                        </span>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_ntpp" class="inputMaterial" type="text" [(ngModel)]='school.nursaryToPrimary3Population' OnlyNumber="true"
                                ng-trim="true" required>
                            <label for="txt_ntpp">Nursary To Primary Population</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <label for="txt_status_approved">Status :</label>
                    <div class="group">
                        <span>
                            <p-inputSwitch onLabel="Approved" offLabel="Pending" [(ngModel)]="school.approved"></p-inputSwitch>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row" hidden="hidden" *ngIf="false">

                <div class="col-sm-3">
                    <div class="group">
                        <span>
                            <input id="txt_Pcn" class="inputMaterial" type="checkbox" [(ngModel)]='school.principalConcent'>
                            <label for="txt_Pcn">Principal Content</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="group">
                        <span>
                            <input id="txt_sal" class="inputMaterial" type="checkbox" [(ngModel)]='school.singageAvailable'>
                            <label for="txt_sal">Singage Available</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_sts" class="inputMaterial" type="text" [(ngModel)]='school.signageStatus' maxlength="50" ng-trim="true" required>
                            <label for="txt_sts">Signage Status</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_ibd" class="inputMaterial" type="text" [(ngModel)]='school.ifBad' maxlength="50" ng-trim="true" required>
                            <label for="txt_ibd">If Bad</label>
                        </span>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="group">
                        <span class="ui-float-label">
                            <input id="txt_crc" class="inputMaterial" type="text" [(ngModel)]='school.classRoomCorex' maxlength="50" ng-trim="true" required>
                            <label for="txt_crc">Class Room Corex</label>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12 text-right">
                    <hr class="my-4">
                    <button type="button" class="btn secondary-btn mr-4">Cancel</button>
                    <button type="submit" class="btn primary-btn" (click)="saveSchoolMaster()">Save</button>
                </div>
            </div>
        </div>
        <hr>

    </div>

</section>
<!-- <div #modal></div> -->
<!-- <p-confirmDialog header="Confirm" icon="fa fa-question-circle" width="600" #cd>
    <p-footer>
        <button type="button" pButton icon="fa-close" label="yes" (click)="cd.accept()" class="mr-4"></button>
        <button type="button" pButton icon="fa-check" label="no" (click)="cd.reject()"></button>
    </p-footer>
</p-confirmDialog> -->